{% assign acn = site.acn %}
{% assign desc = page.excerpt | default: site.description | strip_html | strip_newlines %}
{% assign families = acn.font_families | join: "&family=" %}

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />

  <meta name="application-name" content="{{ site.title }}" />
  <meta name="apple-mobile-web-app-title" content="{{ site.title }}" />

  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <meta name="theme-color" content="{{ acn.color.theme }}" />
  <meta name="apple-mobile-web-app-status-bar-style" content="{{ acn.color.theme }}" />
  <meta name="description" content="{{ desc }}" />

  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:description" content="{{ desc }}" />
  <meta property="og:title" content="{{ page.title | default: site.title }}" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:image" content="{{ page.image | default: acn.meta.og_image }}" />
  {% if acn.twitter %}
  <meta name="twitter:site" content="{{ acn.social.twitter }}" />
  <meta name="twitter:card" content="summary_large_image">
  {% endif % %}

  <link rel="manifest" href="/assets/site.webmanifest" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family={{ families }}&display=swap" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="shortcut icon" href="/assets/{{ acn.meta.shortcut.favicon }}" />
  <link rel="icon" type="{{ acn.meta.shotcut.type }}" href="/assets/{{ acn.meta.shortcut.image }}" />
  <link rel="icon" type="image/svg+xml" href="/assets/{{ acn.logo.image }}" />

  <link rel="apple-touch-icon" href="/assets/{{ acn.meta.apple_icon }}" />
  {% for size in acn.logo.sizes %}
  <link rel="apple-touch-icon" sizes="{{size}}x{{size}}" href="/assets/logo-{{size}}.png" />
  {% endfor %}
