$odd: #3f3f3f;
$header: #2f2f2f;
$border: #333;

table {
  border-bottom: 1px solid $border;
  border-collapse: collapse;
  th {
    background-color: $header;
  }
  tr:nth-child(even) {
    background-color: $odd;
  }
  td, th {
    vertical-align: top;
    padding: 5px;
  }
}
