{%- assign p = page[include.p] -%}
<div class="paginator">
  {%- if include.p == 'next' -%}
    {%- assign align = 'pull-left' -%}
    {%- assign arrow = 'before' -%}
    {%- assign indicator = 'Newer' -%}
  {%- else -%}
    {%- assign align = 'pull-right' -%}
    {%- assign arrow = 'next' -%}
    {%- assign indicator = 'Older' -%}
  {%- endif -%}
  {%- if p %}
  <div class="{{ align }}">
    <span>{{ indicator }}</span>
    <span class="material-icons">navigate_{{ arrow }}</span>
  </div>
  <a href="{{ p.url }}">
    <img src="{{ p.image }}" width="100%" alt="{{ p.title }}" />
    {{ p.title }}
  </a>
  {%- else %}
  <div class="{{ align }}">&nbsp;</div>
  {% endif -%}
</div>
